<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Nelsonchess</title>
    <%- include('fonts'); -%>
    <link rel="stylesheet" href="/style/default.css" type="text/css" />
    <script type="module" src="/js/randomBoard.js" defer></script>
  </head>

  <body>
    <%- include('header'); -%>
    <div class="main">
      <div class="center">
        <h1>Welcome to Nelsonchess!</h1>
        Nelsonchess is a chess web application that combines everything you love
        about Nelson and everything you love about chess. Improvements to the
        age old game include: Nelson as a the king (because he is one) as well
        as Nelson's crispy voice effortlessly providing guidance.
        <ul>
          <li>To play a game, select the play button.</li>
          <li>To view a game played, select the review button.</li>
          <li>To learn more about Nelsonchess, select the about button.</li>
        </ul>
      </div>
      <br />
    </div>
    <%- include('board'); -%> <%- include('footer'); -%> <%- include('chess');
    -%>
  </body>
</html>
